/* 컬러 B&W */

$color01: #000000;
$color02: #26282C;
$color03: #484B51;
$color04: #696E76;
$color05: #838B94;
$color06: #AAB0BB;
$color07: #C6CBD0;
$color08: #DDE1E4;
$color09: #EBEEF0;
$color10: #F7F7F8;
$color11: #FFFFFF;

/* PointColor */

$mainPoint: #0FFF3B;
$subPoint: #C0EBA6;

$statusRed: #f23f3f;
$statusYellow: #ffd338;
$statusBlue: #287eff;

/* 보더컬러 GrayTone */

$BDC01: #ebeef0;
$BDC02: #696e76;
$BDC03: #c6cbd0;
$BDC04: #484b51;
$BDC05: #45484d;
$BDC06: #86888a;
$BDC07: #65696e;
$BDC08: #8c8c8e;

/* 폰트페이스 */

@font-face {
    font-family: 'Balenciaga';
    src: url("@/assets/font/Balenciaga/Font/Utah Condensed Bold.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Light';
    src: url("@/assets/font/SUIT-Light.otf") format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url("@/assets/font/SUIT-Regular.otf") format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url("@/assets/font/SUIT-Medium.otf") format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-SemiBold';
    src: url("@/assets/font/SUIT-SemiBold.otf") format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url("@/assets/font/SUIT-Bold.otf") format('otf');
    font-weight: 900;
    font-style: normal;
}


#app {
    font-family: 'Balenciaga',
        'Suit-Regular',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color02;
    background-color: #F6F6F6;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $color02;
}

ul {
    padding-left: 0;

    li {
        list-style: none;
    }
}

/* 폰트 웨이트 */

.fw-300 {
    font-family: "SUIT-Light" !important;
    font-weight: 300;
}

.fw-400 {
    font-family: "SUIT-Regular" !important;
    font-weight: 400;
}

.fw-500 {
    font-family: "SUIT-Medium" !important;
    font-weight: 500;
    ;
}

.fw-700 {
    font-family: "SUIT-SemiBold" !important;
    font-weight: 600;
    ;
}

.fw-900 {
    font-family: "SUIT-Bold" !important;
    font-weight: 700;
    ;
}

.fw-bold {
    font-family: "Balenciaga" !important;
    font-weight: bold;
    ;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.poWrap {


    height: 100vh;
    overflow: hidden;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 88vh;

    h1 {
        font-size: 10rem;
    }
}

#sidebar {
    width: 15vw;
    border-right: 1px solid #ccc;
    min-width: 18rem;

    h1 {
        padding: 1.9rem 2rem;
        text-align: center;
        border: 2px solid;
        border-bottom: 2px solid;
        border-right: none;
        border-left: none;
        border-color: $color01;
        margin-bottom: 0;
    }

    ul {
        li {
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #ccc;

                a {
                    color: #fff;
                }
            }

            a {
                font-size: 2rem;
                display: block;
                padding: 1rem;

            }
        }
    }

}

.project {
    height: 88vh;

    .projectUl {
        overflow-x: scroll;
        height: 100%;

        li {
            padding: 5rem 2rem;
            border-right: 1px solid;
            border-color: $BDC03;
            display: flex;
            flex-direction: column;


            .imgDiv {
                margin-bottom: 2rem;

                img {
                    width: 100%;

                }
            }

            .projectDiv {
                h3 {
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }

                .projectDetail {
                    margin-top: 2rem;

                    span {
                        color: $color06;
                    }

                    p {
                        color: $color05;
                    }
                }
            }


        }
    }
}

.introduce {
    min-height: 88vh;

    .left {
        padding: 3rem 3rem;
        border-right: 2px solid;
        border-color: $BDC03;

        img {
            margin-bottom: 1rem;
        }

        h2 {
            border-bottom: 2px solid;
            margin-bottom: 1rem;
        }

        p {
            font-family: 1.25rem;
            line-height: 1.2rem;
        }
    }

    .right {
        .block {
            margin-bottom: 2rem;

            h4 {
                margin-bottom: 1.5rem;
            }

            ul {
                li {}
            }


        }

        .skils {
            ul {
                width: 100%;
            }
        }
    }

    .col-6 {
        padding: 5rem 0 2rem 0;
        margin-left: 5rem;
    }

    img {
        width: 100%;
    }

    .progress-bar-wrap {
        position: relative;
        height: 10px;
        /* 막대 높이 */
        background-color: #e9ecef;
        /* 배경색 */
        border-radius: 5px;
        overflow: hidden;
        margin: 0;
    }

    .progress-bar {
        display: block;
        height: 100%;
        background-color: $color03;
        /* 채워지는 색 */
        transition: width 0.5s ease;
        /* 애니메이션 효과 */
    }
}

.pjd {
    .detailImg {
        img {
            width: 100%;
        }
    }

    .detailText {

        position: fixed;
        top: 0;
        right: 1rem;
        padding: 0 3rem;

        h1 {
            padding: 7rem 0 3rem 0;
            font-size: 2.5rem;
        }

        div {
            border-top: 1px solid;
            border-color: $BDC06;
            padding: 2.5rem 0;

            h6 {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.1rem;
                color: $color05;
            }

            ul {
                width: 80%;

                li {
                    margin-bottom: 0.5rem;
                    overflow: hidden;

                    span {
                        color: $statusBlue;
                        font-size: 1rem;
                    }

                    p {
                        font-size: 1rem;
                        color: $color04;
                    }
                }
            }
        }

        button {
            border-radius: 0.5rem;
            border-color: transparent;
            background-color: $statusBlue;
            padding: 0.5rem 2rem;
            transition: 0.5s;

            &:hover {
                background-color: $color11;
                border-color: $statusBlue;

                a {
                    color: $statusBlue;
                }
            }

            a {
                color: $color11;
            }
        }
    }
}



header {

    width: calc(100vw - 15vw) !important;

    h1 {
        font-size: 4rem;
        padding: 1rem 2rem;
        color: $color01;
        margin-bottom: 0;
        border: 2px solid;
        border-color: $color01;

        border-right: none;
    }

    p {
        padding-left: 2rem;

    }
}

.mainWrap {

    .col-xl-5 {
        .careerLeft {
            padding: 0 0.5rem;

            .info {
                text-align: center;

                img {
                    width: 80%;
                    margin-bottom: 0.5rem;
                }

                h2 {
                    font-size: 2rem;
                    margin-bottom: 0;
                }

                p {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }

            .accordion {

                p {
                    word-break: break-word;
                    word-wrap: break-word;
                }

                .iconDiv {
                    ul {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 0.5rem;

                        li {
                            img {
                                width: 100%;
                                aspect-ratio: 1/1;
                            }
                        }
                    }

                }

                ul.textUl {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 1rem;

                    li {
                        width: 50%;
                        list-style: disc;

                        p {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .col-xl-7 {


        #career {


            ul {
                li {
                    border-bottom: 2px solid;
                    border-color: $color01;

                    .careerDiv {
                        gap: 1rem;
                        padding: 2rem 1.5rem;

                        .listDeco {
                            margin-top: 1rem;
                        }

                        div {}

                        h2 {
                            font-size: 2.5rem;
                            margin-bottom: 1rem;
                        }

                        h6 {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            margin-bottom: 1.25rem;
                            font-size: 1.25rem;
                            letter-spacing: -1px;

                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }


        nav {
            height: 4rem;
            padding: 0;
            display: flex;

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid;

                .active {
                    background-color: $mainPoint;

                }

                li {
                    width: 50%;
                    text-align: center;
                    height: 100%;





                    a {
                        color: $color02;
                        height: 100%;
                        margin-bottom: 0;
                        font-size: 1.5rem;
                        line-height: 3rem;

                    }

                    &:first-child {
                        border-right: 1px solid;


                    }
                }
            }
        }
    }

    ul.PTUl {
        li {
            align-items: flex-start;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid;
            border-color: $color01;
            cursor: pointer;

            &:first-child {}

            .listDiv {
                gap: 1rem;
            }

            .listDeco {
                margin-top: 0.25rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h5 {
                font-size: 1rem;

                progress {
                    border-radius: 0.25rem;
                }
            }

            h6 {
                font-size: 1rem;

                p {
                    margin-bottom: 0.5rem;

                    i {
                        font-size: 1.5rem;
                    }
                }
            }

            button {
                background-color: $color02;
                padding: 0.2rem 1rem;
                border: none;
                transition: all 0.5s;
                height: 2rem;

                &:hover {
                    background-color: $mainPoint;
                    border-color: $mainPoint;

                    a {
                        color: $color01;
                    }
                }

                a {
                    color: $color11;
                }

            }
        }
    }
}

.all {
    overflow-y: scroll;
}

.mobileOnly {
    display: none;
}


@media screen and (max-width: 1024px) {


    .offcanvas {
        background-color: rgba(255,255,255,0.75);
        ul {
            li {
                padding: 0.5rem 0;
                a {
                    font-size: 2rem;
                    width: 100%;
                    display: block;
                    color: $color03;
                }
            }
        }
    }


    .all {
        overflow-y: hidden;
    }


    #sidebar {
        display: none;
    }

    .webheader {
        display: none;
    }

    header {
        width: 100vw !important;
    }

    .project {
        min-height: 93vh !important;
    }

    .project .projectUl li {
        justify-content: center;
        width: 45%;
    }

    .detailImg {
        width: 50% !important;
    }

    .detailText {
        width: 50% !important;
        top: 5vh !important;
    }

    .pjd .detailText div ul {
        width: 100%;

        li {
            .col-2 {
                width: 25%;
            }
        }
    }

    .mobileOnly {
        display: block;

        header {
            border: 2px solid;
            padding: 0 2rem;
            justify-content: space-between!important;

            h1 {
                border: none;
                padding: 0;
            }
            button {
                border: none;
                background-color: transparent;
                  margin-right: 1rem;

                i {
                    font-size: 2rem;
                  
                }
            }
        }
    }

  
    .introduce {
        div.col-3 {
            width: 40%;
        }

        .left {
            h2 {
                width: 50%;
                font-size: 2rem;
            }

            p {
                font-size: 1.25rem;
                line-height: 1.25rem;
            }
        }
        .right {
            margin-left: 3rem;
            .block {
                .col-7 {
                    width: 90%;
                }
            }
        }

    }


}

@media screen and (max-width: 500px) {

      .offcanvas {
          ul {
              li {
                  padding: 0.5rem 0;

                  a {
                      font-size: 1.25rem;
                  }
              }
          }
      }


    header {
        text-align: center;

        p {
            padding-left: 0;
        }
    }

    .mobileOnly {
        header {
            justify-content: flex-start!important;
        }
    }

    .home h1 {
        font-size: 5rem;
    }

      header h1 {
          border-right: 2px solid;
      }

      .all {
        overflow-y: scroll;
      }

      .introduce .col-6 {
        width: 100%;
        margin-left: 2rem;
      }

      .project .projectUl li {
        width: 90%;
      }

      .pjd {
        flex-direction: column;
        .col-5 {
            width: 100%!important;

           
        }
      }

      .pjd .detailText {
        position: relative;
      }

      .pjd .detailText h1 {
        padding: 0 0 3rem 0;
      }

      .introduce {
        display: flex;
        flex-direction: column;

        .div.col-3 {
            width: 100%;
        }
      }
      .introduce div.col-3 {
        width: 100%;
      }


    .mainWrap .col-xl-7 #career ul li .careerDiv {
        gap: 0;
        padding: 2rem 0.5rem;
    }

    #portfolio {
        padding-bottom: 2rem;
    }

    .mainWrap .col-xl-7 nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        z-index: 9999;
        border: 1px solid;
        border-color: $color01;
    }

    .poWrap {
        overflow-y: scroll !important;
    }

    .mainWrap {
        flex-direction: column;
        overflow-y: scroll !important;
        gap: 2rem;
    }

    .progress-container {
        h6 {
            margin-right: 0.5rem;
        }
    }
}